body {
 margin: 60px auto;
 width: 70%;
 background-image: url("/images/background.jpg");
 background-size: cover;
}
h1 {
 font-size: 3em;
 font-family:'Helvetica', 'Arial', 'Sans-Serif';
 color: #991956;
 padding-left: 100px;
}
p {
 font-size: 1.5em;
 line-height: 1.4em;
 color: #77154A;
 padding-left: 75px;
}
footer {
 border-top: 1px solid #d5d5d5;
 font-size: .8em;
}
nav ul, footer ul {
 font-family:'Helvetica', 'Arial', 'Sans-Serif';
 padding: 0px;
 list-style: none;
 font-weight: bold;
 color: #FF8501;
}
nav ul li, footer ul li {
 display: inline;
 margin-right: 20px;
 color: #FF8501;
}
a {
 text-decoration: none;
 color: #999;
}
a:hover {
 text-decoration: underline;
}
ul.posts { 
 margin: 20px auto 40px; 
 font-size: 1.5em;
}
ul.posts li {
 list-style: none;
}
#qoute{
 font-style: italic;
 font-size: 3em;
}
a.button{
 display:inline-block;
 padding:0.7em 1.4em;
 margin:0 0.3em 0.3em 0;
 border-radius:0.15em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 text-transform:uppercase;
 font-weight:400;
 color:#FFFFFF;
 background-color:#3369ff;
 box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
 text-align:center;
 position:relative;
}
